MQTT_SERVER_PORT=1883
MQTT_BROKER_URL=mqtt://127.0.0.1:1883
MQTT_BASE_TOPIC=smart-home-esp32
DATABASE_URL=postgres://postgres:123456@localhost:5432/smart_home
# Neon example:
# DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require
